# 2339. All the Matches of the League

Table: Teams

| Column Name | Type    |
|-------------|---------|
| team_name   | varchar |

`team_name` is the column with unique values of this table.
Each row of this table shows the name of a team.

Write a solution to report all the possible matches of the league. Note that every two teams play two matches with each other, with one team being the `home_team` once and the other time being the `away_team`.

Return the result table in any order.

The result format is in the following example.

## Example:

**Input:**

Teams table:

| team_name   |
|-------------|
| Leetcode FC |
| Ahly SC     |
| Real Madrid |

**Output:**

| home_team   | away_team   |
|-------------|-------------|
| Real Madrid | Leetcode FC |
| Real Madrid | Ahly SC     |
| Leetcode FC | Real Madrid |
| Leetcode FC | Ahly SC     |
| Ahly SC     | Real Madrid |
| Ahly SC     | Leetcode FC |

**Explanation:**

All the matches of the league are shown in the table.

In [1]:
import pandas as pd

In [2]:
def find_all_matches(teams: pd.DataFrame) -> pd.DataFrame:
    output_dict = {'home_team':[],'away_team':[]}

    for i in teams['team_name']:
        for j in teams['team_name']:
            if i != j:
                output_dict['home_team'].append(i)
                output_dict['away_team'].append(j)

    return pd.DataFrame(output_dict)

In [3]:
teams = pd.DataFrame({'team_name':['Leetcode FC', 'Ahly SC', 'Real Madrid']})
find_all_matches(teams)

     home_team    away_team
0  Leetcode FC      Ahly SC
1  Leetcode FC  Real Madrid
2      Ahly SC  Leetcode FC
3      Ahly SC  Real Madrid
4  Real Madrid  Leetcode FC
5  Real Madrid      Ahly SC