# 1661. Average Time of Process per Machine

## Table: Activity

| Column Name   | Type   |
|---------------|--------|
| machine_id    | int    |
| process_id    | int    |
| activity_type | enum   |
| timestamp     | float  |

The table shows the user activities for a factory website.
`(machine_id, process_id, activity_type)` is the primary key (combination of columns with unique values) of this table.  
`machine_id` is the ID of a machine.  
`process_id` is the ID of a process running on the machine with ID `machine_id`.  
`activity_type` is an ENUM (category) of type ('start', 'end').  
`timestamp` is a float representing the current time in seconds.  
'start' means the machine starts the process at the given timestamp and 'end' means the machine ends the process at the given timestamp.  
The 'start' timestamp will always be before the 'end' timestamp for every (machine_id, process_id) pair.

There is a factory website that has several machines each running the same number of processes. Write a solution to find the average time each machine takes to complete a process.

The time to complete a process is the 'end' timestamp minus the 'start' timestamp. The average time is calculated by the total time to complete every process on the machine divided by the number of processes that were run.

The resulting table should have the `machine_id` along with the average time as `processing_time`, which should be rounded to 3 decimal places.

Return the result table in any order.

The result format is in the following example.

## Example 1:

**Input:**

Activity table:

| machine_id | process_id | activity_type | timestamp |
|------------|------------|---------------|-----------|
| 0          | 0          | start         | 0.712     |
| 0          | 0          | end           | 1.520     |
| 0          | 1          | start         | 3.140     |
| 0          | 1          | end           | 4.120     |
| 1          | 0          | start         | 0.550     |
| 1          | 0          | end           | 1.550     |
| 1          | 1          | start         | 0.430     |
| 1          | 1          | end           | 1.420     |
| 2          | 0          | start         | 4.100     |
| 2          | 0          | end           | 4.512     |
| 2          | 1          | start         | 2.500     |
| 2          | 1          | end           | 5.000     |

**Output:**

| machine_id | processing_time |
|------------|-----------------|
| 0          | 0.894           |
| 1          | 0.995           |
| 2          | 1.456           |

**Explanation:**

There are 3 machines running 2 processes each.
- Machine 0's average time is ((1.520 - 0.712) + (4.120 - 3.140)) / 2 = 0.894
- Machine 1's average time is ((1.550 - 0.550) + (1.420 - 0.430)) / 2 = 0.995
- Machine 2's average time is ((4.512 - 4.100) + (5.000 - 2.500)) / 2 = 1.456

In [1]:
import pandas as pd

In [2]:
activity = pd.DataFrame([
    {"machine_id": 0, "process_id": 0, "activity_type": "start", "timestamp": 0.712},
    {"machine_id": 0, "process_id": 0, "activity_type": "end", "timestamp": 1.520},
    {"machine_id": 0, "process_id": 1, "activity_type": "start", "timestamp": 3.140},
    {"machine_id": 0, "process_id": 1, "activity_type": "end", "timestamp": 4.120},
    {"machine_id": 1, "process_id": 0, "activity_type": "start", "timestamp": 0.550},
    {"machine_id": 1, "process_id": 0, "activity_type": "end", "timestamp": 1.550},
    {"machine_id": 1, "process_id": 1, "activity_type": "start", "timestamp": 0.430},
    {"machine_id": 1, "process_id": 1, "activity_type": "end", "timestamp": 1.420},
    {"machine_id": 2, "process_id": 0, "activity_type": "start", "timestamp": 4.100},
    {"machine_id": 2, "process_id": 0, "activity_type": "end", "timestamp": 4.512},
    {"machine_id": 2, "process_id": 1, "activity_type": "start", "timestamp": 2.500},
    {"machine_id": 2, "process_id": 1, "activity_type": "end", "timestamp": 5.000},
])

In [3]:
def get_average_time(activity: pd.DataFrame) -> pd.DataFrame:
    df_pivot = activity.pivot_table(index=['machine_id', 'process_id'], columns='activity_type', values='timestamp')
    df_pivot['processing_time'] = df_pivot['end'] - df_pivot['start']
    df_pivot = df_pivot.reset_index().groupby('machine_id').mean('processing_time').reset_index()

    return pd.DataFrame({'machine_id':df_pivot['machine_id'].values,
                'processing_time':[round(val,3) for val in df_pivot['processing_time'].values]})

In [4]:
get_average_time(activity=activity)

   machine_id  processing_time
0           0            0.894
1           1            0.995
2           2            1.456