2687. Bikes Last Time Used


==========================

Table: Bikes
------------

| Column Name | Type     |
|-------------|----------|
| ride_id     | int      |
| bike_number | int      |
| start_time  | datetime |
| end_time    | datetime |

`ride_id` column contains unique values.
Each row contains ride information including `ride_id`, bike number, start and end time of the ride.

Write a solution to find the last time when each bike was used.

Return the result table ordered by the bikes that were most recently used.

The result format is in the following example.

Example 1:
----------

**Input:**
Bikes table:
| ride_id | bike_number | start_time          | end_time            |
|---------|-------------|---------------------|---------------------|
| 1       | W00576      | 2012-03-25 11:30:00 | 2012-03-25 12:40:00 |
| 2       | W00300      | 2012-03-25 10:30:00 | 2012-03-25 10:50:00 |
| 3       | W00455      | 2012-03-26 14:30:00 | 2012-03-26 17:40:00 |
| 4       | W00455      | 2012-03-25 12:30:00 | 2012-03-25 13:40:00 |
| 5       | W00576      | 2012-03-25 08:10:00 | 2012-03-25 09:10:00 |
| 6       | W00576      | 2012-03-28 02:30:00 | 2012-03-28 02:50:00 |

**Output:**
| bike_number | end_time            |
|-------------|---------------------|
| W00576      | 2012-03-28 02:50:00 |
| W00455      | 2012-03-26 17:40:00 |
| W00300      | 2012-03-25 10:50:00 |

**Explanation:**
- Bike with number W00576 has three rides; the most recent ride (ride_id 6) ended on 2012-03-28 02:50:00.
- Bike with number W00300 has only 1 ride, so we include its end_time directly.
- Bike with number W00455 has two rides; the most recent ride (ride_id 3) ended on 2012-03-26 17:40:00.
Returning output in order by the bikes that were most recently used.

In [1]:
import pandas as pd

In [2]:
def last_used_time(bikes: pd.DataFrame) -> pd.DataFrame:
    unique_bikes = bikes['bike_number'].unique()
    output_df = pd.DataFrame(columns=['bike_number', 'end_time'])

    for bike in unique_bikes:
        sub_df = bikes[bikes['bike_number']==bike].sort_values('end_time').iloc[[-1]]
        output_df = pd.concat([output_df,sub_df[['bike_number','end_time']]])

    return output_df.sort_values(by='end_time',ascending=False)

In [3]:
data = [
    {'ride_id': 1, 'bike_number': 'W00576', 'start_time': '2012-03-25 11:30:00', 'end_time': '2012-03-25 12:40:00'},
    {'ride_id': 2, 'bike_number': 'W00300', 'start_time': '2012-03-25 10:30:00', 'end_time': '2012-03-25 10:50:00'},
    {'ride_id': 3, 'bike_number': 'W00455', 'start_time': '2012-03-26 14:30:00', 'end_time': '2012-03-26 17:40:00'},
    {'ride_id': 4, 'bike_number': 'W00455', 'start_time': '2012-03-25 12:30:00', 'end_time': '2012-03-25 13:40:00'},
    {'ride_id': 5, 'bike_number': 'W00576', 'start_time': '2012-03-25 08:10:00', 'end_time': '2012-03-25 09:10:00'},
    {'ride_id': 6, 'bike_number': 'W00576', 'start_time': '2012-03-28 02:30:00', 'end_time': '2012-03-28 02:50:00'}
]

bikes = pd.DataFrame(data)

bikes['start_time'] = pd.to_datetime(bikes['start_time'])
bikes['end_time'] = pd.to_datetime(bikes['end_time'])

In [4]:
last_used_time(bikes)

C:\Users\adolo\AppData\Local\Temp\ipykernel_25880\3030007534.py:7: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  output_df = pd.concat([output_df,sub_df[['bike_number','end_time']]])

  bike_number            end_time
5      W00576 2012-03-28 02:50:00
2      W00455 2012-03-26 17:40:00
1      W00300 2012-03-25 10:50:00