# 1853. Convert Date Format

Table: Days

| Column Name | Type |
|-------------|------|
| day         | date |

`day` is the column with unique values for this table.

Write a solution to convert each date in Days into a string formatted as "day_name, month_name day, year".

Return the result table in any order.

The result format is in the following example.

## Example:

**Input:**

Days table:

| day        |
|------------|
| 2022-04-12 |
| 2021-08-09 |
| 2020-06-26 |

**Output:**

| day                     |
|-------------------------|
| Tuesday, April 12, 2022 |
| Monday, August 9, 2021  |
| Friday, June 26, 2020   |

**Explanation:**

Please note that the output is case-sensitive.

In [1]:
import pandas as pd

In [2]:
days = pd.DataFrame(data = {
    "day": ["2022-04-12", "2021-08-09", "2020-06-26"]
})

In [3]:
def convert_date_format(days: pd.DataFrame) -> pd.DataFrame:
    days['day'] = pd.to_datetime(days['day'])
    return pd.DataFrame({'day':[f'{day_name}, {month} {day}, {year}' for day_name,month,day,year in zip(days['day'].dt.day_name(),days['day'].dt.month_name(), days['day'].dt.day, days['day'].dt.year)]})

In [4]:
convert_date_format(days)

                       day
0  Tuesday, April 12, 2022
1   Monday, August 9, 2021
2    Friday, June 26, 2020