# 196. Delete Duplicate Emails
**Solved**

**Easy**

## Topics
- Companies
- SQL Schema
- Pandas Schema

## Table: Person

| Column Name | Type    |
|-------------|---------|
| id          | int     |
| email       | varchar |

`id` is the primary key (column with unique values) for this table. Each row of this table contains an email. The emails will not contain uppercase letters.

Write a solution to delete all duplicate emails, keeping only one unique email with the smallest id.

- For SQL users, please note that you are supposed to write a DELETE statement and not a SELECT one.
- For Pandas users, please note that you are supposed to modify `Person` in place.

After running your script, the answer shown is the `Person` table. The driver will first compile and run your piece of code and then show the `Person` table. The final order of the `Person` table does not matter.

The result format is in the following example.

## Example 1:

**Input:**

Person table:

| id | email            |
|----|------------------|
| 1  | john@example.com |
| 2  | bob@example.com  |
| 3  | john@example.com |

**Output:**

| id | email            |
|----|------------------|
| 1  | john@example.com |
| 2  | bob@example.com  |

**Explanation:**  
`john@example.com` is repeated two times. We keep the row with the smallest `id = 1`.

In [18]:
import pandas as pd

In [19]:
person = pd.DataFrame([
    {"id": 1, "email": "john@example.com"},
    {"id": 2, "email": "bob@example.com"},
    {"id": 3, "email": "john@example.com"},
])

In [20]:
def delete_duplicate_emails(person: pd.DataFrame) -> None:

    person_dict = {email:[] for email in person['email']}

    for id,email in person.values:
        person_dict[email].append(id)

    person_dict = {email:min(id) for email, id in person_dict.items()}

    output_df = pd.DataFrame.from_dict(person_dict, orient='index', columns=['id']).reset_index(names='email')

    person.drop(person.index, inplace=True)
    person['email'] = output_df['email']
    person['id'] = output_df['id']

In [21]:
delete_duplicate_emails(person=person)

In [17]:
person

   id             email
0   1  john@example.com
1   2   bob@example.com