In [14]:
import pandas as pd

In [15]:
orders_data = {
    'order_id': [1, 2, 11, 12, 21, 22, 31, 32],
    'customer_id': [1, 1, 2, 2, 3, 3, 4, 4],
    'order_type': [0, 0, 0, 1, 1, 0, 1, 1]
}

orders = pd.DataFrame(orders_data)

In [16]:
def drop_specific_orders(orders: pd.DataFrame) -> pd.DataFrame:
    output_df = pd.DataFrame({col:[] for col in orders.columns})

    for id in orders['customer_id'].unique():
        sub_df = orders[orders['customer_id']  == id]
        if 0 in sub_df['order_type'].values:
            output_df = pd.concat([output_df,sub_df[sub_df['order_type'] == 0]])
        else:
            output_df = pd.concat([output_df,sub_df])

    return output_df

In [17]:
drop_specific_orders(orders=orders)

   order_id  customer_id  order_type
0       1.0          1.0         0.0
1       2.0          1.0         0.0
2      11.0          2.0         0.0
5      22.0          3.0         0.0
6      31.0          4.0         1.0
7      32.0          4.0         1.0