### 1303. Find the Team Size

**Table: Employee**

| Column Name | Type |
|-------------|------|
| employee_id | int  |
| team_id     | int  |

- `employee_id` is the primary key (column with unique values) for this table.
- Each row of this table contains the ID of each employee and their respective team.

Write a solution to find the team size of each of the employees.

Return the result table in any order.

**Example 1:**

**Input:**

**Employee Table:**

| employee_id | team_id |
|-------------|---------|
| 1           | 8       |
| 2           | 8       |
| 3           | 8       |
| 4           | 7       |
| 5           | 9       |
| 6           | 9       |

**Output:**

| employee_id | team_size |
|-------------|-----------|
| 1           | 3         |
| 2           | 3         |
| 3           | 3         |
| 4           | 1         |
| 5           | 2         |
| 6           | 2         |

**Explanation:**
- Employees with ID 1, 2, 3 are part of a team with `team_id = 8`.
- Employee with ID 4 is part of a team with `team_id = 7`.
- Employees with ID 5, 6 are part of a team with `team_id = 9`.

In [1]:
import pandas as pd

In [2]:
employee = pd.DataFrame({
    'employee_id': [1, 2, 3, 4, 5, 6],
    'team_id': [8, 8, 8, 7, 9, 9]
})

In [3]:
def team_size(employee: pd.DataFrame) -> pd.DataFrame:
    counts = employee.team_id.value_counts()
    employee['team_size'] = employee['team_id'].map(counts)
    return employee[['employee_id','team_size']]

In [4]:
team_size(employee)

   employee_id  team_size
0            1          3
1            2          3
2            3          3
3            4          1
4            5          2
5            6          2