## 2987. Find Expensive Cities

**Solved**  
**Easy**  
**Topics**  
SQL Schema  
Pandas Schema

### Table: Listings

| Column Name | Type    |
|-------------|---------|
| listing_id  | int     |
| city        | varchar |
| price       | int     |

listing_id is a column of unique values for this table.  
This table contains listing_id, city, and price.

Write a solution to find cities where the average home prices exceed the national average home price.

Return the result table sorted by city in ascending order.

The result format is in the following example.

### Example 1:

**Input:**  
Listings table:
| listing_id | city         | price   | 
|------------|--------------|---------|
| 113        | LosAngeles   | 7560386 | 
| 136        | SanFrancisco | 2380268 |     
| 92         | Chicago      | 9833209 | 
| 60         | Chicago      | 5147582 | 
| 8          | Chicago      | 5274441 |  
| 79         | SanFrancisco | 8372065 | 
| 37         | Chicago      | 7939595 | 
| 53         | LosAngeles   | 4965123 | 
| 178        | SanFrancisco | 999207  | 
| 51         | NewYork      | 5951718 | 
| 121        | NewYork      | 2893760 | 

**Output:**
| city       | 
|------------|
| Chicago    | 
| LosAngeles |  

**Explanation**  
The national average home price is $6,122,059.45. Among the cities listed:
- Chicago has an average price of $7,048,706.75
- Los Angeles has an average price of $6,277,754.5
- San Francisco has an average price of $3,900,513.33
- New York has an average price of $4,422,739

Only Chicago and Los Angeles have average home prices exceeding the national average. Therefore, these two cities are included in the output table. The output table is sorted in ascending order based on the city names.

In [9]:
import pandas as pd

In [35]:
def find_expensive_cities(listings: pd.DataFrame) -> pd.DataFrame:
    avg_price = listings['price'].mean()
    city_avg = listings.groupby(['city']).mean()
    return pd.DataFrame({'city':city_avg[city_avg['price'] > avg_price].sort_index().index.tolist()})

In [36]:
listings = pd.DataFrame({'listing_id': [113, 136, 92, 60, 8, 79, 37, 53, 178, 51, 121],
 'city': ['LosAngeles', 'SanFrancisco', 'Chicago', 'Chicago', 'Chicago', 'SanFrancisco', 'Chicago', 'LosAngeles', 'SanFrancisco', 'NewYork', 'NewYork'],
 'price': [7560386, 2380268, 9833209, 5147582, 5274441, 8372065, 7939595, 4965123, 999207, 5951718, 2893760]}
)

find_expensive_cities(listings)

         city
0     Chicago
1  LosAngeles