3051. Find Candidates for Data Scientist Position

### Table: Candidates

| Column Name  | Type    |
|--------------|---------|
| candidate_id | int     |
| skill        | varchar |

(candidate_id, skill) is the primary key (columns with unique values) for this table.
Each row includes candidate_id and skill.

Write a query to find the candidates best suited for a Data Scientist position. The candidate must be proficient in Python, Tableau, and PostgreSQL.

Return the result table ordered by candidate_id in ascending order.

#### Example 1:

**Input:**

**Candidates table:**
| candidate_id  | skill        |
|---------------|--------------|
| 123           | Python       |
| 234           | R            |
| 123           | Tableau      |
| 123           | PostgreSQL   |
| 234           | PowerBI      |
| 234           | SQL Server   |
| 147           | Python       |
| 147           | Tableau      |
| 147           | Java         |
| 147           | PostgreSQL   |
| 256           | Tableau      |
| 102           | DataAnalysis |

**Output:**
| candidate_id |
|--------------|
| 123          |
| 147          |

**Explanation:**
- Candidates 123 and 147 possess the necessary skills in Python, Tableau, and PostgreSQL for the data scientist position.
- Candidates 234 and 102 do not possess any of the required skills for this position.
- Candidate 256 has proficiency in Tableau but is missing skills in Python and PostgreSQL.
The output table is sorted by candidate_id in ascending order.

In [5]:
import pandas as pd

In [8]:
def find_candidates(candidates: pd.DataFrame) -> pd.DataFrame:
    candidates_dict = {id:[] for id in candidates['candidate_id']}

    for id,skill in zip(candidates['candidate_id'],candidates['skill']):
        candidates_dict[id].append(skill)

    candidate_list = []
    for id, skill in candidates_dict.items():
        if 'Python' in skill and 'Tableau' in skill and 'PostgreSQL' in skill:
            candidate_list.append(id)

    return pd.DataFrame({'candidate_id':candidate_list}).sort_values(by='candidate_id')

In [9]:
candidates = pd.DataFrame([
    {"candidate_id": 123, "skill": "Python"},
    {"candidate_id": 234, "skill": "R"},
    {"candidate_id": 123, "skill": "Tableau"},
    {"candidate_id": 123, "skill": "PostgreSQL"},
    {"candidate_id": 234, "skill": "PowerBI"},
    {"candidate_id": 234, "skill": "SQL Server"},
    {"candidate_id": 147, "skill": "Python"},
    {"candidate_id": 147, "skill": "Tableau"},
    {"candidate_id": 147, "skill": "Java"},
    {"candidate_id": 147, "skill": "PostgreSQL"},
    {"candidate_id": 256, "skill": "Tableau"},
    {"candidate_id": 102, "skill": "DataAnalysis"},
])

find_candidates(candidates=candidates)

   candidate_id
0           123
1           147