# 3198. Find Cities in Each State

**Table: cities**

| Column Name | Type    | 
|-------------|---------|
| state       | varchar |
| city        | varchar |

(state, city) is the primary key (combination of columns with unique values) for this table.
Each row of this table contains the state name and the city name within that state.

Write a solution to find all the cities in each state and combine them into a single comma-separated string.

Return the result table ordered by state in ascending order.

The result format is in the following example.

**Example:**

**Input:**

cities table:

| state       | city          |
|-------------|---------------|
| California  | Los Angeles   |
| California  | San Francisco |
| California  | San Diego     |
| Texas       | Houston       |
| Texas       | Austin        |
| Texas       | Dallas        |
| New York    | New York City |
| New York    | Buffalo       |
| New York    | Rochester     |

**Output:**

| state       | cities                                |
|-------------|---------------------------------------|
| California  | Los Angeles, San Diego, San Francisco |
| New York    | Buffalo, New York City, Rochester     |
| Texas       | Austin, Dallas, Houston               |

Explanation:

California: All cities ("Los Angeles", "San Diego", "San Francisco") are listed in a comma-separated string.
New York: All cities ("Buffalo", "New York City", "Rochester") are listed in a comma-separated string.
Texas: All cities ("Austin", "Dallas", "Houston") are listed in a comma-separated string.

Note: The output table is ordered by the state name in ascending order.

In [2]:
import pandas as pd

In [3]:
cities = pd.DataFrame({
    'state': ['California', 'California', 'California', 'Texas', 'Texas', 'Texas', 'New York', 'New York', 'New York'],
    'city': ['Los Angeles', 'San Francisco', 'San Diego', 'Houston', 'Austin', 'Dallas', 'New York City', 'Buffalo', 'Rochester']
})

In [6]:
def find_cities(cities: pd.DataFrame) -> pd.DataFrame:

    output_dict = {}

    for state in cities['state'].unique():
        output_dict[state] = ', '.join([city for city in sorted(cities[(cities['state'] == state).shift(0).fillna(False)]['city'])])

    return pd.DataFrame({'state':[state for state in output_dict.keys()],'cities':[city for city in output_dict.values()]}).sort_values('state')

In [7]:
find_cities(cities)

        state                                 cities
0  California  Los Angeles, San Diego, San Francisco
2    New York      Buffalo, New York City, Rochester
1       Texas                Austin, Dallas, Houston