1327. List the Products Ordered in a Period

Table: Products

| Column Name      | Type    |
|------------------|---------|
| product_id       | int     |
| product_name     | varchar |
| product_category | varchar |

product_id is the primary key (column with unique values) for this table.
This table contains data about the company's products.

Table: Orders

| Column Name   | Type    |
|---------------|---------|
| product_id    | int     |
| order_date    | date    |
| unit          | int     |

This table may have duplicate rows.
product_id is a foreign key (reference column) to the Products table.
unit is the number of products ordered in order_date.

Write a solution to get the names of products that have at least 100 units ordered in February 2020 and their amount.

Return the result table in any order.

The result format is in the following example.

Example 1:

Input:
Products table:
| product_id | product_name         | product_category |
|------------|----------------------|------------------|
| 1          | Leetcode Solutions   | Book             |
| 2          | Jewels of Stringology| Book             |
| 3          | HP                   | Laptop           |
| 4          | Lenovo               | Laptop           |
| 5          | Leetcode Kit         | T-shirt          |

Orders table:
| product_id | order_date  | unit |
|------------|-------------|------|
| 1          | 2020-02-05  | 60   |
| 1          | 2020-02-10  | 70   |
| 2          | 2020-01-18  | 30   |
| 2          | 2020-02-11  | 80   |
| 3          | 2020-02-17  | 2    |
| 3          | 2020-02-24  | 3    |
| 4          | 2020-03-01  | 20   |
| 4          | 2020-03-04  | 30   |
| 4          | 2020-03-04  | 60   |
| 5          | 2020-02-25  | 50   |
| 5          | 2020-02-27  | 50   |
| 5          | 2020-03-01  | 50   |

Output:
| product_name        | unit |
|---------------------|------|
| Leetcode Solutions  | 130  |
| Leetcode Kit        | 100  |

Explanation:
Products with product_id = 1 are ordered in February a total of (60 + 70) = 130 units.
Products with product_id = 2 are ordered in February a total of 80 units.
Products with product_id = 3 are ordered in February a total of (2 + 3) = 5 units.
Products with product_id = 4 were not ordered in February 2020.
Products with product_id = 5 are ordered in February a total of (50 + 50) = 100 units.

In [1]:
import pandas as pd

In [2]:
products = pd.DataFrame([
    {"product_id": 1, "product_name": "Leetcode Solutions", "product_category": "Book"},
    {"product_id": 2, "product_name": "Jewels of Stringology", "product_category": "Book"},
    {"product_id": 3, "product_name": "HP", "product_category": "Laptop"},
    {"product_id": 4, "product_name": "Lenovo", "product_category": "Laptop"},
    {"product_id": 5, "product_name": "Leetcode Kit", "product_category": "T-shirt"},
])

orders = pd.DataFrame([
    {"product_id": 1, "order_date": "2020-02-05", "unit": 60},
    {"product_id": 1, "order_date": "2020-02-10", "unit": 70},
    {"product_id": 2, "order_date": "2020-01-18", "unit": 30},
    {"product_id": 2, "order_date": "2020-02-11", "unit": 80},
    {"product_id": 3, "order_date": "2020-02-17", "unit": 2},
    {"product_id": 3, "order_date": "2020-02-24", "unit": 3},
    {"product_id": 4, "order_date": "2020-03-01", "unit": 20},
    {"product_id": 4, "order_date": "2020-03-04", "unit": 30},
    {"product_id": 4, "order_date": "2020-03-04", "unit": 60},
    {"product_id": 5, "order_date": "2020-02-25", "unit": 50},
    {"product_id": 5, "order_date": "2020-02-27", "unit": 50},
    {"product_id": 5, "order_date": "2020-03-01", "unit": 50},
]
)

orders['order_date'] = pd.to_datetime(orders['order_date'])

In [3]:
def list_products(products: pd.DataFrame, orders: pd.DataFrame) -> pd.DataFrame:

    feb_orders = orders[(orders['order_date'].dt.month == 2) & (orders['order_date'].dt.year == 2020)]
    feb_orders = feb_orders.merge(products,on='product_id').groupby('product_name').sum('unit').reset_index()
    return feb_orders[feb_orders['unit'] >= 100][['product_name','unit']]

In [4]:
list_products(orders=orders,products=products)

         product_name  unit
2        Leetcode Kit   100
3  Leetcode Solutions   130