## 1777. Product's Price for Each Store

Table: Products

| Column Name | Type    |
|-------------|---------|
| product_id  | int     |
| store       | enum    |
| price       | int     |

In SQL, `(product_id, store)` is the primary key for this table.
`store` is a category of type (`store1`, `store2`, `store3`) where each represents the store this product is available at.
`price` is the price of the product at this store.

Find the price of each product in each store.

Return the result table in any order.

### Example:

**Input:**  
Products table:
| product_id  | store  | price |
|-------------|--------|-------|
| 0           | store1 | 95    |
| 0           | store3 | 105   |
| 0           | store2 | 100   |
| 1           | store1 | 70    |
| 1           | store3 | 80    |

**Output:**  
| product_id  | store1 | store2 | store3 |
|-------------|--------|--------|--------|
| 0           | 95     | 100    | 105    |
| 1           | 70     | null   | 80     |

**Explanation:**  
Product 0's prices are 95 for store1, 100 for store2, and 105 for store3.
Product 1's prices are 70 for store1, 80 for store3, and it's not sold in store2.

In [1]:
import pandas as pd

In [2]:
products = pd.DataFrame([
    {"product_id": 0, "store": "store1", "price": 95},
    {"product_id": 0, "store": "store3", "price": 105},
    {"product_id": 0, "store": "store2", "price": 100},
    {"product_id": 1, "store": "store1", "price": 70},
    {"product_id": 1, "store": "store3", "price": 80}
])

In [3]:
def products_price(products: pd.DataFrame) -> pd.DataFrame:

    products_dict = products.pivot(index='product_id',columns='store').to_dict(orient='split')

    nested_list = []

    for idx in range(len(products_dict)):
        nested_list.append([data[idx] for data in products_dict['data']])


    output_dict = {df_col:sublist for df_col,sublist in zip([col[1] for col in products_dict['columns']],nested_list)}
    output_dict['product_id'] = products_dict['index']

    output_df = pd.DataFrame(output_dict)
    return output_df[output_df.columns[-1:].to_list() + output_df.columns[:3].to_list()]

In [4]:
products_price(products)

   product_id  store1  store2  store3
0           0    95.0   100.0   105.0
1           1    70.0     NaN    80.0