# 1082. Sales Analysis I

## Table: Product

| Column Name  | Type    |
|--------------|---------|
| product_id   | int     |
| product_name | varchar |
| unit_price   | int     |

`product_id` is the primary key (column with unique values) of this table. Each row of this table indicates the name and the price of each product.

## Table: Sales

| Column Name | Type    |
|-------------|---------|
| seller_id   | int     |
| product_id  | int     |
| buyer_id    | int     |
| sale_date   | date    |
| quantity    | int     |
| price       | int     |

This table can have repeated rows. `product_id` is a foreign key (reference column) to the `Product` table. Each row of this table contains some information about one sale.

Write a solution that reports the best seller by total sales price. If there is a tie, report them all.

Return the result table in any order.

The result format is in the following example.

## Example 1:

**Input:**

Product table:

| product_id | product_name | unit_price |
|------------|--------------|------------|
| 1          | S8           | 1000       |
| 2          | G4           | 800        |
| 3          | iPhone       | 1400       |

Sales table:

| seller_id | product_id | buyer_id | sale_date  | quantity | price |
|-----------|------------|----------|------------|----------|-------|
| 1         | 1          | 1        | 2019-01-21 | 2        | 2000  |
| 1         | 2          | 2        | 2019-02-17 | 1        | 800   |
| 2         | 2          | 3        | 2019-06-02 | 1        | 800   |
| 3         | 3          | 4        | 2019-05-13 | 2        | 2800  |

**Output:**

| seller_id |
|-----------|
| 1         |
| 3         |

**Explanation:**  
Both sellers with id 1 and 3 sold products with the most total price of 2800.

In [1]:
import pandas as pd

In [2]:
sales = pd.DataFrame([
    {"seller_id": 1, "product_id": 1, "buyer_id": 1, "sale_date": "2019-01-21", "quantity": 2, "price": 2000},
    {"seller_id": 1, "product_id": 2, "buyer_id": 2, "sale_date": "2019-02-17", "quantity": 1, "price": 800},
    {"seller_id": 2, "product_id": 2, "buyer_id": 3, "sale_date": "2019-06-02", "quantity": 1, "price": 800},
    {"seller_id": 3, "product_id": 3, "buyer_id": 4, "sale_date": "2019-05-13", "quantity": 2, "price": 2800},
])

product = pd.DataFrame([
    {"product_id": 1, "product_name": "S8", "unit_price": 1000},
    {"product_id": 2, "product_name": "G4", "unit_price": 800},
    {"product_id": 3, "product_name": "iPhone", "unit_price": 1400},
])

In [3]:
def sales_analysis(product: pd.DataFrame, sales: pd.DataFrame) -> pd.DataFrame:

    output_df = sales.groupby('seller_id').sum('price').reset_index()
    return output_df[output_df['price'] == output_df['price'].max()][['seller_id']]

In [4]:
sales_analysis(product=product,sales=sales)

   seller_id
0          1
2          3