# 176. Second Highest Salary

### Table: Employee

| Column Name | Type |
|-------------|------|
| id          | int  |
| salary      | int  |

`id` is the primary key (column with unique values) for this table. Each row of this table contains information about the salary of an employee.

## Problem Statement
Write a solution to find the second highest salary from the Employee table. If there is no second highest salary, return `null` (return `None` in Pandas).

The result format is in the following example.

## Example 1:
**Input:**  
Employee table:

| id | salary |
|----|--------|
| 1  | 100    |
| 2  | 200    |
| 3  | 300    |

**Output:**  

| SecondHighestSalary |
|---------------------|
| 200                 |

## Example 2:
**Input:**  
Employee table:

| id | salary |
|----|--------|
| 1  | 100    |

**Output:**  

| SecondHighestSalary |
|---------------------|
| null                |

In [1]:
import pandas as pd

In [2]:
def second_highest_salary(employee: pd.DataFrame) -> pd.DataFrame:
    try:
        return pd.DataFrame(employee.drop_duplicates('salary').sort_values('salary',ascending=False).reset_index(drop=True).loc[1].to_dict(), index=[0])[['salary']].rename({'salary':'SecondHighestSalary'},axis=1)
    except:
        return pd.DataFrame({'SecondHighestSalary':[None]})

In [3]:
employee = pd.DataFrame([
    {"id": 1, "salary": 100},
    {"id": 2, "salary": 200},
    {"id": 3, "salary": 300},
])

second_highest_salary(employee=employee)

   SecondHighestSalary
0                  200

In [4]:
employee = pd.DataFrame([
    {"id": 1, "salary": 100},
])

second_highest_salary(employee=employee)

  SecondHighestSalary
0                None

In [5]:
employee = pd.DataFrame([
    {"id": 1, "salary": 100},
    {"id": 2, "salary": 100}
])

second_highest_salary(employee=employee)

  SecondHighestSalary
0                None

In [6]:
employee = pd.DataFrame([
    {"id": 1, "salary": 100},
    {"id": 2, "salary": 200}
])

second_highest_salary(employee=employee)

   SecondHighestSalary
0                  100