1607. Sellers With No Sales

Topics: SQL Schema, Pandas Schema

### Table: Customer

| Column Name   | Type    |
|---------------|---------|
| customer_id   | int     |
| customer_name | varchar |

### Table: Orders

| Column Name   | Type    |
|---------------|---------|
| order_id      | int     |
| sale_date     | date    |
| order_cost    | int     |
| customer_id   | int     |
| seller_id     | int     |

### Table: Seller

| Column Name   | Type    |
|---------------|---------|
| seller_id     | int     |
| seller_name   | varchar |

Write a solution to report the names of all sellers who did not make any sales in 2020.

Return the result table ordered by seller_name in ascending order.

#### Example:

**Input:**

**Customer table:**
| customer_id  | customer_name |
|--------------|---------------|
| 101          | Alice         |
| 102          | Bob           |
| 103          | Charlie       |

**Orders table:**
| order_id    | sale_date  | order_cost   | customer_id | seller_id   |
|-------------|------------|--------------|-------------|-------------|
| 1           | 2020-03-01 | 1500         | 101         | 1           |
| 2           | 2020-05-25 | 2400         | 102         | 2           |
| 3           | 2019-05-25 | 800          | 101         | 3           |
| 4           | 2020-09-13 | 1000         | 103         | 2           |
| 5           | 2019-02-11 | 700          | 101         | 2           |

**Seller table:**
| seller_id   | seller_name |
|-------------|-------------|
| 1           | Daniel      |
| 2           | Elizabeth   |
| 3           | Frank       |

**Output:**
| seller_name |
|-------------|
| Frank       |

**Explanation:**
Daniel made 1 sale in March 2020.
Elizabeth made 2 sales in 2020 and 1 sale in 2019.
Frank made 1 sale in 2019 but no sales in 2020.

In [1]:
import pandas as pd

In [2]:
def sellers_with_no_sales(customer: pd.DataFrame, orders: pd.DataFrame, seller: pd.DataFrame) -> pd.DataFrame:

    orders['date_check'] = orders['sale_date'].dt.year.isin([2020])

    check_dict = {id:[] for id in orders['seller_id']}

    for id,check in orders[['seller_id','date_check']].values:
        check_dict[id].append(check)

    no_sale_list = [id for id,check in check_dict.items() if any(check) == False]
    no_sale_list.extend([seller for seller in seller['seller_id'].values if seller not in orders['seller_id'].values])

    output_df = seller[seller['seller_id'].isin(no_sale_list)][['seller_name']].rename({'seller_name':'SELLER_NAME'},axis=1)

    return output_df.sort_values('SELLER_NAME')

In [3]:
orders = pd.DataFrame([
    {"order_id": 1, "sale_date": "2020-03-01", "order_cost": 1500, "customer_id": 101, "seller_id": 1},
    {"order_id": 2, "sale_date": "2020-05-25", "order_cost": 2400, "customer_id": 102, "seller_id": 2},
    {"order_id": 3, "sale_date": "2019-05-25", "order_cost": 800, "customer_id": 101, "seller_id": 3},
    {"order_id": 4, "sale_date": "2020-09-13", "order_cost": 1000, "customer_id": 103, "seller_id": 2},
    {"order_id": 5, "sale_date": "2019-02-11", "order_cost": 700, "customer_id": 101, "seller_id": 2},
])

orders['sale_date'] = pd.to_datetime(orders['sale_date'])

seller = pd.DataFrame([
    {"seller_id": 1, "seller_name": "Daniel"},
    {"seller_id": 2, "seller_name": "Elizabeth"},
    {"seller_id": 3, "seller_name": "Frank"},
])

In [4]:
sellers_with_no_sales(customer=None,orders=orders,seller=seller)

  SELLER_NAME
2       Frank

In [5]:
orders = pd.DataFrame([
    {"order_id": 1, "sale_date": "2020-01-05", "order_cost": 900, "customer_id": 102, "seller_id": 3},
    {"order_id": 2, "sale_date": "2020-01-15", "order_cost": 700, "customer_id": 103, "seller_id": 1},
    {"order_id": 3, "sale_date": "2020-03-26", "order_cost": 400, "customer_id": 102, "seller_id": 2},
    {"order_id": 4, "sale_date": "2020-09-22", "order_cost": 800, "customer_id": 101, "seller_id": 3},
    {"order_id": 5, "sale_date": "2020-04-25", "order_cost": 900, "customer_id": 103, "seller_id": 1},
    {"order_id": 6, "sale_date": "2019-11-14", "order_cost": 600, "customer_id": 103, "seller_id": 2},
    {"order_id": 7, "sale_date": "2019-12-29", "order_cost": 400, "customer_id": 101, "seller_id": 1},
])

orders['sale_date'] = pd.to_datetime(orders['sale_date'])

seller = pd.DataFrame([
    {"seller_id": 1, "seller_name": "Daniel"},
    {"seller_id": 2, "seller_name": "Elizabeth"},
    {"seller_id": 3, "seller_name": "Frank"},
    {"seller_id": 4, "seller_name": "Bruce"},
])

In [6]:
sellers_with_no_sales(customer=None,orders=orders,seller=seller)

  SELLER_NAME
3       Bruce

In [7]:
orders = pd.DataFrame([
    {"order_id": 1, "sale_date": "2020-02-23", "order_cost": 300, "customer_id": 101, "seller_id": 5},
    {"order_id": 2, "sale_date": "2019-11-10", "order_cost": 500, "customer_id": 105, "seller_id": 6},
    {"order_id": 3, "sale_date": "2020-02-07", "order_cost": 300, "customer_id": 103, "seller_id": 3},
    {"order_id": 4, "sale_date": "2020-06-01", "order_cost": 700, "customer_id": 103, "seller_id": 4},
    {"order_id": 5, "sale_date": "2020-04-02", "order_cost": 600, "customer_id": 106, "seller_id": 4},
    {"order_id": 6, "sale_date": "2020-06-23", "order_cost": 900, "customer_id": 103, "seller_id": 4},
    {"order_id": 7, "sale_date": "2019-11-28", "order_cost": 400, "customer_id": 106, "seller_id": 5},
    {"order_id": 8, "sale_date": "2020-03-08", "order_cost": 900, "customer_id": 103, "seller_id": 6},
    {"order_id": 9, "sale_date": "2019-11-16", "order_cost": 600, "customer_id": 107, "seller_id": 3},
    {"order_id": 10, "sale_date": "2020-09-05", "order_cost": 700, "customer_id": 101, "seller_id": 3}
])

orders['sale_date'] = pd.to_datetime(orders['sale_date'])

seller = pd.DataFrame([
        {"seller_id": 1, "seller_name": "Daniel"},
        {"seller_id": 2, "seller_name": "Elizabeth"},
        {"seller_id": 3, "seller_name": "Frank"},
        {"seller_id": 4, "seller_name": "Bruce"},
        {"seller_id": 5, "seller_name": "Sakura"},
        {"seller_id": 6, "seller_name": "Prudence"},
        {"seller_id": 7, "seller_name": "Leo"},
        {"seller_id": 8, "seller_name": "Halley"}
    ])

In [8]:
sellers_with_no_sales(customer=None,orders=orders,seller=seller)

  SELLER_NAME
0      Daniel
1   Elizabeth
7      Halley
6         Leo