## 1565. Unique Orders and Customers Per Month

### Table: Orders

| Column Name | Type  |
|-------------|-------|
| order_id    | int   |
| order_date  | date  |
| customer_id | int   |
| invoice     | int   |

`order_id` is the column with unique values for this table.
This table contains information about the orders made by `customer_id`.

Write a solution to find the number of unique orders and the number of unique customers with invoices > $20 for each different month.

Return the result table sorted in any order.

The result format is in the following example.

### Example 1:

**Input:**  
Orders table:
| order_id | order_date | customer_id | invoice |
|----------|------------|-------------|---------|
| 1        | 2020-09-15 | 1           | 30      |
| 2        | 2020-09-17 | 2           | 90      |
| 3        | 2020-10-06 | 3           | 20      |
| 4        | 2020-10-20 | 3           | 21      |
| 5        | 2020-11-10 | 1           | 10      |
| 6        | 2020-11-21 | 2           | 15      |
| 7        | 2020-12-01 | 4           | 55      |
| 8        | 2020-12-03 | 4           | 77      |
| 9        | 2021-01-07 | 3           | 31      |
| 10       | 2021-01-15 | 2           | 20      |

**Output:**  
| month   | order_count | customer_count |
|---------|-------------|----------------|
| 2020-09 | 2           | 2              |
| 2020-10 | 1           | 1              |
| 2020-12 | 2           | 1              |
| 2021-01 | 1           | 1              |

**Explanation:**  
In September 2020, we have two orders from 2 different customers with invoices > $20.  
In October 2020, we have two orders from 1 customer, and only one of the two orders has an invoice > $20.  
In November 2020, we have two orders from 2 different customers but invoices < $20, so we don't include that month.  
In December 2020, we have two orders from 1 customer, both with invoices > $20.  
In January 2021, we have two orders from 2 different customers, but only one of them has an invoice > $20.

In [1]:
import pandas as pd

In [16]:
orders = pd.DataFrame([
    {"order_id": 1, "order_date": "2020-09-15", "customer_id": 1, "invoice": 30},
    {"order_id": 2, "order_date": "2020-09-17", "customer_id": 2, "invoice": 90},
    {"order_id": 3, "order_date": "2020-10-06", "customer_id": 3, "invoice": 20},
    {"order_id": 4, "order_date": "2020-10-20", "customer_id": 3, "invoice": 21},
    {"order_id": 5, "order_date": "2020-11-10", "customer_id": 1, "invoice": 10},
    {"order_id": 6, "order_date": "2020-11-21", "customer_id": 2, "invoice": 15},
    {"order_id": 7, "order_date": "2020-12-01", "customer_id": 4, "invoice": 55},
    {"order_id": 8, "order_date": "2020-12-03", "customer_id": 4, "invoice": 77},
    {"order_id": 9, "order_date": "2021-01-07", "customer_id": 3, "invoice": 31},
    {"order_id": 10, "order_date": "2021-01-15", "customer_id": 2, "invoice": 20}
]
)

In [66]:
def unique_orders_and_customers(orders: pd.DataFrame) -> pd.DataFrame:
    orders['month'] = [date[:-3] for date in orders['order_date'].astype(str)]
    filtered_orders = orders[orders['invoice'] > 20]

    order_dict1 = filtered_orders.value_counts('month').to_dict()
    order_dict2 = {month:[] for month in filtered_orders['month']}

    for month,id in zip(filtered_orders['month'],filtered_orders['customer_id']):
        order_dict2[month].append(id)

    order_dict2 = {month:len(set(id)) for month,id in order_dict2.items()}

    df1 = pd.DataFrame(list(order_dict1.items()), columns=['month', 'order_count'])
    df2 = pd.DataFrame(list(order_dict2.items()), columns=['month', 'customer_count'])

    return df1.merge(right=df2,on='month',how='outer').sort_values('month')

In [67]:
unique_orders_and_customers(orders=orders)

     month  order_count  customer_count
0  2020-09            2                2
1  2020-10            1                1
2  2020-12            2                1
3  2021-01            1                1