In [1]:
import pandas as pd

In [2]:
warehouse_data = {
    'name': ['LCHouse1', 'LCHouse1', 'LCHouse1', 'LCHouse2', 'LCHouse2', 'LCHouse3'],
    'product_id': [1, 2, 3, 1, 2, 4],
    'units': [1, 10, 5, 2, 2, 1]
}

warehouse = pd.DataFrame(warehouse_data)

products_data = {
    'product_id': [1, 2, 3, 4],
    'product_name': ['LC-TV', 'LC-KeyChain', 'LC-Phone', 'LC-T-Shirt'],
    'Width': [5, 5, 2, 4],
    'Length': [50, 5, 10, 10],
    'Height': [40, 5, 10, 20]
}

products = pd.DataFrame(products_data)

In [3]:
def warehouse_manager(warehouse: pd.DataFrame, products: pd.DataFrame) -> pd.DataFrame:
    products['Dimmensions'] = products['Width'] * products['Length'] * products['Height']
    merged_df = pd.merge(warehouse,products,on='product_id')
    merged_df['volume'] = merged_df['Dimmensions'] * merged_df['units']
    return merged_df.groupby('name').sum('volume').reset_index()[['name','volume']].rename({'name':'warehouse_name'},axis=1)

In [4]:
warehouse_manager(warehouse=warehouse,products=products)

  warehouse_name  volume
0       LCHouse1   12250
1       LCHouse2   20250
2       LCHouse3     800