# 1445. Apples & Oranges
**Solved**

**Medium**

## Topics
- Companies
- SQL Schema
- Pandas Schema

## Table: Sales

| Column Name | Type |
|-------------|------|
| sale_date   | date |
| fruit       | enum | 
| sold_num    | int  | 

(sale_date, fruit) is the primary key (combination of columns with unique values) of this table. This table contains the sales of "apples" and "oranges" sold each day.

Write a solution to report the difference between the number of apples and oranges sold each day.

Return the result table ordered by `sale_date`.

The result format is in the following example.

## Example 1:

**Input:**

Sales table:

| sale_date  | fruit   | sold_num |
|------------|---------|----------|
| 2020-05-01 | apples  | 10       |
| 2020-05-01 | oranges | 8        |
| 2020-05-02 | apples  | 15       |
| 2020-05-02 | oranges | 15       |
| 2020-05-03 | apples  | 20       |
| 2020-05-03 | oranges | 0        |
| 2020-05-04 | apples  | 15       |
| 2020-05-04 | oranges | 16       |

**Output:**

| sale_date  | diff |
|------------|------|
| 2020-05-01 | 2    |
| 2020-05-02 | 0    |
| 2020-05-03 | 20   |
| 2020-05-04 | -1   |

**Explanation:**  
- Day 2020-05-01, 10 apples and 8 oranges were sold (Difference 10 - 8 = 2).
- Day 2020-05-02, 15 apples and 15 oranges were sold (Difference 15 - 15 = 0).
- Day 2020-05-03, 20 apples and 0 oranges were sold (Difference 20 - 0 = 20).
- Day 2020-05-04, 15 apples and 16 oranges were sold (Difference 15 - 16 = -1).

In [1]:
import pandas as pd

In [2]:
def apples_oranges(sales: pd.DataFrame) -> pd.DataFrame:
    sales.loc[sales['fruit'] == 'oranges', 'sold_num'] *= -1
    output_df = sales.groupby('sale_date').sum('sold_num').reset_index()
    return output_df.sort_values('sale_date').rename({'sold_num':'diff'}, axis=1)

In [3]:
sales = pd.DataFrame([
    {"sale_date": "2020-05-01", "fruit": "apples", "sold_num": 10},
    {"sale_date": "2020-05-01", "fruit": "oranges", "sold_num": 8},
    {"sale_date": "2020-05-02", "fruit": "apples", "sold_num": 15},
    {"sale_date": "2020-05-02", "fruit": "oranges", "sold_num": 15},
    {"sale_date": "2020-05-03", "fruit": "apples", "sold_num": 20},
    {"sale_date": "2020-05-03", "fruit": "oranges", "sold_num": 0},
    {"sale_date": "2020-05-04", "fruit": "apples", "sold_num": 15},
    {"sale_date": "2020-05-04", "fruit": "oranges", "sold_num": 16},
])

In [4]:
apples_oranges(sales)

    sale_date  diff
0  2020-05-01     2
1  2020-05-02     0
2  2020-05-03    20
3  2020-05-04    -1