# 184. Department Highest Salary

### Table: Employee

| Column Name  | Type    |
|--------------|---------|
| id           | int     |
| name         | varchar |
| salary       | int     |
| departmentId | int     |

`id` is the primary key for this table. `departmentId` is a foreign key referencing the `id` from the Department table. Each row of this table indicates the ID, name, and salary of an employee. It also contains the ID of their department.

### Table: Department

| Column Name | Type    |
|-------------|---------|
| id          | int     |
| name        | varchar |

`id` is the primary key for this table. It is guaranteed that department `name` is not NULL. Each row of this table indicates the ID of a department and its name.

## Problem

Write a solution to find employees who have the highest salary in each of the departments.

Return the result table in any order.

## Example 1:

**Input:** 

Employee table:
| id | name  | salary | departmentId |
|----|-------|--------|--------------|
| 1  | Joe   | 70000  | 1            |
| 2  | Jim   | 90000  | 1            |
| 3  | Henry | 80000  | 2            |
| 4  | Sam   | 60000  | 2            |
| 5  | Max   | 90000  | 1            |

Department table:
| id | name  |
|----|-------|
| 1  | IT    |
| 2  | Sales |

**Output:**

| Department | Employee | Salary |
|------------|----------|--------|
| IT         | Jim      | 90000  |
| Sales      | Henry    | 80000  |
| IT         | Max      | 90000  |

**Explanation:** Max and Jim both have the highest salary in the IT department, and Henry has the highest salary in the Sales department.

In [ ]:
import pandas as pd

In [ ]:
employee_data = {
    'id': [1, 2, 3, 4, 5],
    'name': ['Joe', 'Jim', 'Henry', 'Sam', 'Max'],
    'salary': [70000, 90000, 80000, 60000, 90000],
    'departmentId': [1, 1, 2, 2, 1]
}
employee = pd.DataFrame(employee_data)

department_data = {
    'id': [1, 2],
    'name': ['IT', 'Sales']
}

department = pd.DataFrame(department_data)

In [ ]:
def department_highest_salary(employee: pd.DataFrame, department: pd.DataFrame) -> pd.DataFrame:

    merged_df = pd.merge(employee, department.rename({'id':'departmentId'},axis=1), on='departmentId')

    output_df = pd.DataFrame({col:[] for col in merged_df.columns})

    for dept_id in merged_df['departmentId'].unique():
        sub_df = merged_df[merged_df['departmentId'] == dept_id]
        output_df = pd.concat([output_df,sub_df[sub_df['salary'] == sub_df['salary'].max()]])

    output_df.rename({'name_x':'Employee','name_y':'Department','salary':'Salary'},axis=1,inplace=True)

    return output_df[['Department','Employee','Salary']]

In [ ]:
department_highest_salary(employee=employee, department=department)