# 1965. Employees With Missing Information

## Table: Employees

| Column Name | Type    |
|-------------|---------|
| employee_id | int     |
| name        | varchar |

employee_id is the column with unique values for this table. Each row of this table indicates the name of the employee whose ID is employee_id.

## Table: Salaries

| Column Name | Type    |
|-------------|---------|
| employee_id | int     |
| salary      | int     |

employee_id is the column with unique values for this table. Each row of this table indicates the salary of the employee whose ID is employee_id.

Write a solution to report the IDs of all the employees with missing information. The information of an employee is missing if:

- The employee's name is missing, or
- The employee's salary is missing.

Return the result table ordered by employee_id in ascending order.

The result format is in the following example.

## Example 1:

**Input:**

Employees table:

| employee_id | name     |
|-------------|----------|
| 2           | Crew     |
| 4           | Haven    |
| 5           | Kristian |

Salaries table:

| employee_id | salary |
|-------------|--------|
| 5           | 76071  |
| 1           | 22517  |
| 4           | 63539  |

**Output:**

| employee_id |
|-------------|
| 1           |
| 2           |

**Explanation:** 
- Employees 1, 2, 4, and 5 are working at this company.
- The name of employee 1 is missing.
- The salary of employee 2 is missing.

In [ ]:
import pandas as pd

In [ ]:
def find_employees(employees: pd.DataFrame, salaries: pd.DataFrame) -> pd.DataFrame:
    full_merged = pd.concat([employees,salaries])
    id_mask = [id for id in full_merged['employee_id'] if id not in pd.merge(employees,salaries,on='employee_id')['employee_id'].values]
    return full_merged[full_merged['employee_id'].isin(id_mask)][['employee_id']].sort_values('employee_id')

In [ ]:
employees = pd.DataFrame([
    {"employee_id": 2, "name": "Crew"},
    {"employee_id": 4, "name": "Haven"},
    {"employee_id": 5, "name": "Kristian"},
])

salaries = pd.DataFrame([
    {"employee_id": 5, "salary": 76071},
    {"employee_id": 1, "salary": 22517},
    {"employee_id": 4, "salary": 63539},
])

In [ ]:
find_employees(employees=employees, salaries=salaries)