# 584. Find Customer Referee

**Solved**  
**Easy**  
**Topics**  
Companies  
Hint  
SQL Schema  
Pandas Schema

## Table: Customer

| Column Name | Type    |
|-------------|---------|
| id          | int     |
| name        | varchar |
| referee_id  | int     |

In SQL, `id` is the primary key column for this table.  
Each row of this table indicates the id of a customer, their name, and the id of the customer who referred them.

Find the names of the customers that are not referred by the customer with `id = 2`.

Return the result table in any order.

The result format is in the following example.

## Example 1:

**Input:**  
**Customer table:**

| id | name | referee_id |
|----|------|------------|
| 1  | Will | null       |
| 2  | Jane | null       |
| 3  | Alex | 2          |
| 4  | Bill | null       |
| 5  | Zack | 1          |
| 6  | Mark | 2          |

**Output:**  
| name |
|------|
| Will |
| Jane |
| Bill |
| Zack |

In [1]:
import pandas as pd

In [7]:
customer = pd.DataFrame(data = [
    {"id": 1, "name": "Will", "referee_id": None},
    {"id": 2, "name": "Jane", "referee_id": None},
    {"id": 3, "name": "Alex", "referee_id": 2},
    {"id": 4, "name": "Bill", "referee_id": None},
    {"id": 5, "name": "Zack", "referee_id": 1},
    {"id": 6, "name": "Mark", "referee_id": 2},
])

   id  name  referee_id
0   1  Will         0.0
1   2  Jane         0.0
2   3  Alex         2.0
3   4  Bill         0.0
4   5  Zack         1.0
5   6  Mark         2.0

In [8]:
def find_customer_referee(customer: pd.DataFrame) -> pd.DataFrame:
    customer.fillna(0,inplace=True)
    return customer[customer['referee_id']!=2][['name']]

In [9]:
find_customer_referee(customer=customer)

   name
0  Will
1  Jane
3  Bill
4  Zack