# 2480. Form a Chemical Bond

## Table: Elements

| Column Name | Type    |
|-------------|---------|
| symbol      | varchar |
| type        | enum    |
| electrons   | int     |

`symbol` is the primary key (column with unique values) for this table. Each row of this table contains information of one element. `type` is an ENUM (category) of type ('Metal', 'Nonmetal', 'Noble'):

- If `type` is 'Noble', `electrons` is 0.
- If `type` is 'Metal', `electrons` is the number of electrons that one atom of this element can give.
- If `type` is 'Nonmetal', `electrons` is the number of electrons that one atom of this element needs.

Two elements can form a bond if one of them is 'Metal' and the other is 'Nonmetal'.

Write a solution to find all the pairs of elements that can form a bond.

Return the result table in any order.

The result format is in the following example.

## Example 1:

**Input:**

Elements table:

| symbol | type     | electrons |
|--------|----------|-----------|
| He     | Noble    | 0         |
| Na     | Metal    | 1         |
| Ca     | Metal    | 2         |
| La     | Metal    | 3         |
| Cl     | Nonmetal | 1         |
| O      | Nonmetal | 2         |
| N      | Nonmetal | 3         |

**Output:**

| metal | nonmetal |
|-------|----------|
| La    | Cl       |
| Ca    | Cl       |
| Na    | Cl       |
| La    | O        |
| Ca    | O        |
| Na    | O        |
| La    | N        |
| Ca    | N        |
| Na    | N        |

**Explanation:**

- Metal elements are La, Ca, and Na.
- Nonmetal elements are Cl, O, and N.
- Each Metal element pairs with a Nonmetal element in the output table.

In [1]:
import pandas as pd

In [2]:
elements_data = {
    'symbol': ['He', 'Na', 'Ca', 'La', 'Cl', 'O', 'N'],
    'type': ['Noble', 'Metal', 'Metal', 'Metal', 'Nonmetal', 'Nonmetal', 'Nonmetal'],
    'electrons': [0, 1, 2, 3, 1, 2, 3]
}

elements = pd.DataFrame(elements_data)

In [3]:
def form_bond(elements: pd.DataFrame) -> pd.DataFrame:
    metals = elements[elements['type'] == 'Metal']['symbol'].values
    non_metals = elements[elements['type'] == 'Nonmetal']['symbol'].values

    pairs = []

    for metal in metals:
        for non_metal in non_metals:
            pairs.append([metal,non_metal])

    output_df = pd.DataFrame(pairs,columns=['metal','nonmetal'])

    return output_df.sort_values('nonmetal')

In [4]:
form_bond(elements=elements)

  metal nonmetal
0    Na       Cl
3    Ca       Cl
6    La       Cl
2    Na        N
5    Ca        N
8    La        N
1    Na        O
4    Ca        O
7    La        O