# 511. Game Play Analysis I

## Table: Activity

| Column Name  | Type    |
|--------------|---------|
| player_id    | int     |
| device_id    | int     |
| event_date   | date    |
| games_played | int     |

`(player_id, event_date)` is the primary key (combination of columns with unique values) of this table.  
This table shows the activity of players of some games.  
Each row is a record of a player who logged in and played a number of games (possibly 0) before logging out on some day using some device.

Write a solution to find the first login date for each player.

Return the result table in any order.

The result format is in the following example.

## Example 1:

**Input:**  
Activity table:

| player_id | device_id | event_date | games_played |
|-----------|-----------|------------|--------------|
| 1         | 2         | 2016-03-01 | 5            |
| 1         | 2         | 2016-05-02 | 6            |
| 2         | 3         | 2017-06-25 | 1            |
| 3         | 1         | 2016-03-02 | 0            |
| 3         | 4         | 2018-07-03 | 5            |

**Output:**  
| player_id | first_login |
|-----------|-------------|
| 1         | 2016-03-01  |
| 2         | 2017-06-25  |
| 3         | 2016-03-02  |

In [1]:
import pandas as pd

In [2]:
def game_analysis(activity: pd.DataFrame) -> pd.DataFrame:

    output_df = pd.DataFrame({'player_id':[], 'device_id':[], 'event_date':[], 'games_played':[]})

    for id in activity['player_id'].unique():
        output_df = pd.concat([output_df,activity[activity['player_id']==id].sort_values('event_date').iloc[[0]]])

    return output_df[['player_id','event_date']].rename({'event_date':'first_login'},axis=1)

In [3]:
activity = pd.DataFrame([
    {"player_id": 1, "device_id": 2, "event_date": "2016-03-01", "games_played": 5},
    {"player_id": 1, "device_id": 2, "event_date": "2016-05-02", "games_played": 6},
    {"player_id": 2, "device_id": 3, "event_date": "2017-06-25", "games_played": 1},
    {"player_id": 3, "device_id": 1, "event_date": "2016-03-02", "games_played": 0},
    {"player_id": 3, "device_id": 4, "event_date": "2018-07-03", "games_played": 5},
])

game_analysis(activity=activity)

   player_id first_login
0        1.0  2016-03-01
2        2.0  2017-06-25
3        3.0  2016-03-02