# 3150. Invalid Tweets II

Table: Tweets

| Column Name | Type    |
|-------------|---------|
| tweet_id    | int     |
| content     | varchar |

`tweet_id` is the primary key (column with unique values) for this table.
This table contains all the tweets in a social media app.

Write a solution to find invalid tweets. A tweet is considered invalid if it meets any of the following criteria:

- It exceeds 140 characters in length.
- It has more than 3 mentions.
- It includes more than 3 hashtags.

Return the result table ordered by `tweet_id` in ascending order.

The result format is in the following example.

## Example:

**Input:**

**Tweets table:**

| tweet_id | content                                                                           |
|----------|-----------------------------------------------------------------------------------|
| 1        | Traveling, exploring, and living my best life @JaneSmith @SaraJohnson @LisaTaylor |
|          | @MikeBrown #Foodie #Fitness #Learning                                             |
| 2        | Just had the best dinner with friends! #Foodie #Friends #Fun                      |
| 4        | Working hard on my new project #Work #Goals #Productivity #Fun                    |

**Output:**

| tweet_id |
|----------|
| 1        |
| 4        |

**Explanation:**

- tweet_id 1 contains 4 mentions.
- tweet_id 4 contains 4 hashtags.

Output table is ordered by `tweet_id` in ascending order.

In [1]:
import pandas as pd

In [2]:
def find_invalid_tweets(tweets: pd.DataFrame) -> pd.DataFrame:
    output_df = pd.DataFrame({'tweet_id':[idx for idx, tweet in zip(tweets['tweet_id'],tweets['content']) if len(tweet)>140 or tweet.count('#') > 3 or tweet.count('@') > 3]})
    return output_df

In [3]:
tweets = pd.DataFrame([
    {"tweet_id": 1, "content": "Traveling, exploring, and living my best life @JaneSmith @SaraJohnson @LisaTaylor\n@MikeBrown #Foodie #Fitness #Learning"},
    {"tweet_id": 2, "content": "Just had the best dinner with friends! #Foodie #Friends #Fun"},
    {"tweet_id": 4, "content": "Working hard on my new project #Work #Goals #Productivity #Fun"}
])

In [4]:
find_invalid_tweets(tweets)

   tweet_id
0         1
1         4