## 1068. Product Sales Analysis I

### Table: Sales

| Column Name | Type  |
|-------------|-------|
| sale_id     | int   |
| product_id  | int   |
| year        | int   |
| quantity    | int   |
| price       | int   |

`(sale_id, year)` is the primary key (combination of columns with unique values) of this table.
`product_id` is a foreign key (reference column) to Product table.
Each row of this table shows a sale on the product `product_id` in a certain year.
Note that the price is per unit.

### Table: Product

| Column Name  | Type    |
|--------------|---------|
| product_id   | int     |
| product_name | varchar |

`product_id` is the primary key (column with unique values) of this table.
Each row of this table indicates the product name of each product.

Write a solution to report the `product_name`, `year`, and `price` for each `sale_id` in the Sales table.

Return the resulting table in any order.

The result format is in the following example.

### Example 1:

**Input:**  
Sales table:
| sale_id | product_id | year | quantity | price |
|---------|------------|------|----------|-------| 
| 1       | 100        | 2008 | 10       | 5000  |
| 2       | 100        | 2009 | 12       | 5000  |
| 7       | 200        | 2011 | 15       | 9000  |

Product table:
| product_id | product_name |
|------------|--------------|
| 100        | Nokia        |
| 200        | Apple        |
| 300        | Samsung      |

**Output:**  
| product_name | year  | price |
|--------------|-------|-------|
| Nokia        | 2008  | 5000  |
| Nokia        | 2009  | 5000  |
| Apple        | 2011  | 9000  |

**Explanation:**  
From `sale_id = 1`, we can conclude that Nokia was sold for 5000 in the year 2008.  
From `sale_id = 2`, we can conclude that Nokia was sold for 5000 in the year 2009.  
From `sale_id = 7`, we can conclude that Apple was sold for 9000 in the year 2011.

In [1]:
import pandas as pd

In [2]:
def sales_analysis(sales: pd.DataFrame, product: pd.DataFrame) -> pd.DataFrame:
    product_dict = {id:name for id,name in zip(product['product_id'].values,product['product_name'].values)}

    merged_df = sales.join(other=product,on='product_id',how='left',rsuffix='_r',lsuffix='_l')
    merged_df['product_name'] = [product_dict[id] for id in merged_df['product_id_l']]

    return merged_df[['product_name','year','price']]

In [3]:
sales = pd.DataFrame([
    {"sale_id": 1, "product_id": 100, "year": 2008, "quantity": 10, "price": 5000},
    {"sale_id": 2, "product_id": 100, "year": 2009, "quantity": 12, "price": 5000},
    {"sale_id": 7, "product_id": 200, "year": 2011, "quantity": 15, "price": 9000}
])

product = pd.DataFrame([
    {"product_id": 100, "product_name": "Nokia"},
    {"product_id": 200, "product_name": "Apple"},
    {"product_id": 300, "product_name": "Samsung"}
])

In [4]:
sales_analysis(sales=sales,product=product)

  product_name  year  price
0        Nokia  2008   5000
1        Nokia  2009   5000
2        Apple  2011   9000