# 178. Rank Scores

### Table: Scores

| Column Name | Type    |
|-------------|---------|
| id          | int     |
| score       | decimal |

`id` is the primary key for this table. Each row of this table contains the score of a game. `score` is a floating point value with two decimal places.

## Problem

Write a solution to find the rank of the scores. The ranking should be calculated according to the following rules:

1. The scores should be ranked from the highest to the lowest.
2. If there is a tie between two scores, both should have the same ranking.
3. After a tie, the next ranking number should be the next consecutive integer value. In other words, there should be no holes between ranks.

Return the result table ordered by `score` in descending order.

## Example 1:

**Input:**

Scores table:
| id | score |
|----|-------|
| 1  | 3.50  |
| 2  | 3.65  |
| 3  | 4.00  |
| 4  | 3.85  |
| 5  | 4.00  |
| 6  | 3.65  |

**Output:**

| score | rank |
|-------|------|
| 4.00  | 1    |
| 4.00  | 1    |
| 3.85  | 2    |
| 3.65  | 3    |
| 3.65  | 3    |
| 3.50  | 4    |

In [1]:
import pandas as pd

In [2]:
scores_data = {
    'id': [1, 2, 3, 4, 5, 6],
    'score': [3.50, 3.65, 4.00, 3.85, 4.00, 3.65]
}

scores = pd.DataFrame(scores_data)

In [3]:
def order_scores(scores: pd.DataFrame) -> pd.DataFrame:
    scores['rank'] = scores['score'].rank(method='dense',ascending=False)
    return scores.sort_values('rank')[['score','rank']]

In [4]:
order_scores(scores=scores)

   score  rank
2   4.00   1.0
4   4.00   1.0
3   3.85   2.0
1   3.65   3.0
5   3.65   3.0
0   3.50   4.0