# 1890. The Latest Login in 2020

**Solved**  
**Easy**  
**Topics**  
SQL Schema  
Pandas Schema

## Table: Logins

| Column Name | Type     |
|-------------|----------|
| user_id     | int      |
| time_stamp  | datetime |

`(user_id, time_stamp)` is the primary key (combination of columns with unique values) for this table.  
Each row contains information about the login time for the user with ID `user_id`.

Write a solution to report the latest login for all users in the year 2020. Do not include the users who did not login in 2020.

Return the result table in any order.

The result format is in the following example.

## Example 1:

**Input:**  
**Logins table:**

| user_id | time_stamp          |
|---------|---------------------|
| 6       | 2020-06-30 15:06:07 |
| 6       | 2021-04-21 14:06:06 |
| 6       | 2019-03-07 00:18:15 |
| 8       | 2020-02-01 05:10:53 |
| 8       | 2020-12-30 00:46:50 |
| 2       | 2020-01-16 02:49:50 |
| 2       | 2019-08-25 07:59:08 |
| 14      | 2019-07-14 09:00:00 |
| 14      | 2021-01-06 11:59:59 |

**Output:**  
| user_id | last_stamp          |
|---------|---------------------|
| 6       | 2020-06-30 15:06:07 |
| 8       | 2020-12-30 00:46:50 |
| 2       | 2020-01-16 02:49:50 |

**Explanation:**  
User 6 logged into their account 3 times but only once in 2020, so we include this login in the result table.  
User 8 logged into their account 2 times in 2020, once in February and once in December. We include only the latest one (December) in the result table.  
User 2 logged into their account 2 times but only once in 2020, so we include this login in the result table.  
User 14 did not login in 2020, so we do not include them in the result table.

In [2]:
import pandas as pd

In [3]:
logins = pd.DataFrame([
    {"user_id": 6, "time_stamp": "2020-06-30 15:06:07"},
    {"user_id": 6, "time_stamp": "2021-04-21 14:06:06"},
    {"user_id": 6, "time_stamp": "2019-03-07 00:18:15"},
    {"user_id": 8, "time_stamp": "2020-02-01 05:10:53"},
    {"user_id": 8, "time_stamp": "2020-12-30 00:46:50"},
    {"user_id": 2, "time_stamp": "2020-01-16 02:49:50"},
    {"user_id": 2, "time_stamp": "2019-08-25 07:59:08"},
    {"user_id": 14, "time_stamp": "2019-07-14 09:00:00"},
    {"user_id": 14, "time_stamp": "2021-01-06 11:59:59"}
])

In [4]:
def latest_login(logins: pd.DataFrame) -> pd.DataFrame:
    filtered_logins = logins[logins['time_stamp'].astype(str).str.contains('2020')]
    output_df = pd.DataFrame({col:[] for col in filtered_logins.columns})

    for id in filtered_logins['user_id'].unique():
        output_df = pd.concat([output_df,
                            filtered_logins[filtered_logins['user_id']==id].sort_values('time_stamp').iloc[[-1]]])
        
    output_df['user_id'] = output_df['user_id'].astype('int')

    return output_df.rename({'time_stamp':'last_stamp'},axis=1)

In [5]:
latest_login(logins=logins)

   user_id           last_stamp
0        6  2020-06-30 15:06:07
4        8  2020-12-30 00:46:50
5        2  2020-01-16 02:49:50